<!-- <div class="container-fluid">
    <div class="footer text-center">
        <p class="text-muted">
            Application Version: 1.0 Release Date: Jul 12, 2017
        </p>
    </div>
</div> -->
<footer class="footerBackground">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 leftFooter">
                <div class="col-md-2">
                    <div class="total bgBlue">
                        <div class="circle bgWhite"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h3 class="rightFooterHeader textPink">Contact information</h3>
                    <p class="text-left marginBottom">6372 Bespin Blvd. Suite 400<br> Cloud City, CA, 94588<br> USA  <i class="fa fa-truck paddingLeft" aria-hidden="true"></i></p>
                    <p><i class="fa fa-envelope text-muted marginBottom" aria-hidden="true"></i><span class="textAnchor">  sales@ccdistribution.com  </span></p>
                    <p><i class="fa fa-phone text-muted marginBottom" aria-hidden="true"></i><span class="textAnchor">  1+ 925.922.2222  </span></p>
                </div>
                <div class="col-md-4">
                    <h3 class="rightFooterHeader textPink">Primary Contacts</h3>
                    <p><span class="textAnchor marginBottom">Kevin Calrissian  </span> <i class="fa fa-circle text-muted marginBottom" aria-hidden="true"></i><span class="">  PM</span></p>
                    <p><i class="fa fa-envelope text-muted marginBottom" aria-hidden="true"></i><span class="textAnchor">  kcalrissian@ccdistribution.com  </span></p>
                    <p><i class="fa fa-phone text-muted last marginBottom" aria-hidden="true"></i><span class="textAnchor">  1+ 925.922.2222 x 1900  </span></p>

                    <p><span class="textAnchor marginBottom">Beth Calrissian  </span> <i class="fa fa-circle text-muted marginBottom" aria-hidden="true"></i><span class="">  PM</span></p>
                    <p><i class="fa fa-envelope text-muted marginBottom" aria-hidden="true"></i><span class="textAnchor">  bcalrissian@ccdistribution.com  </span></p>
                    <p><i class="fa fa-phone text-muted last marginBottom" aria-hidden="true"></i><span class="textAnchor">  1+ 925.922.2222 x 1901  </span></p>
                </div>
            </div>
            <div class="col-md-4 rightFooter">
                <h3 class="rightFooterHeader textPink col-md-12">Distributor Information  <i class="fa fa-plus" aria-hidden="true"></i></h3>
                <p><span class="text-muted leftText col-md-7">Plan:</span><span class="rightText col-md-5">Legacy</span></p>
                <p><span class="text-muted leftText col-md-7">renewal date:</span><span class="rightText col-md-5">02/15/2018</span></p>
                <p><span class="text-muted leftText col-md-7">Original appointed date:</span><span class="rightText col-md-5">02/15/1998</span></p>
                <p><span class="text-muted leftText col-md-7">Abbreviated Name:</span><span class="rightText col-md-5">CCDIS</span></p>
                <p><span class="text-muted leftText col-md-7">Language:</span><span class="rightText col-md-5">English</span></p>
                <p><span class="text-muted leftText col-md-7">Type Code:</span><span class="rightText col-md-5"><i class="fa fa-users" aria-hidden="true"></i>  CORP</span></p>
                <p><span class="text-muted leftText col-md-7">DOB:</span><span class="rightText col-md-5">08/01/1955</span></p>
            </div>
        </div>
    </div>
</footer>