.iconpadding {
    margin-right: 20px;
}

.btnInfo {
    background: rgb(8, 168, 227);
}

.backgroundWhite {
    background: white;
    border-top: 2px solid rgb(0, 167, 225);
    box-shadow: 1px 5px 5px #888888;
    margin-bottom: 20px;
    padding: 20px;
}

.headerText {
    color: rgb(175, 179, 167)
}

.btn-outline-primary {
    background: white;
    color: rgb(97, 152, 227);
}

table tr th {
    border-bottom: 0px
}

table tr td {
    border-top: 0px
}

.btnBorder {
    border-radius: 25px;
}

.btnGroup {
    margin: 30px auto;
}

.underlineSpan h4 {
    border-bottom: 1px solid rgb(181, 179, 179);
    padding-bottom: 5px;
}

.text-pink {
    color: rgb(189, 137, 237);
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgb(217, 242, 250);
}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
    width: auto;
}

.stepwizard {
    display: table;
    margin: 25px auto;
    position: relative;
    text-align: center;
    width: auto;
}

.stepwizard-row:before {
    background-color: #ccc;
    bottom: 0;
    content: "";
    height: 1px;
    position: absolute;
    top: 14px;
    width: auto;
}

.stepwizard-step {
    display: table-cell;
    padding: 0px 25px;
    position: relative;
    text-align: center;
}

.btn-circle {
    border-radius: 15px;
    font-size: 12px;
    height: 20px;
    line-height: 1.428571429;
    padding: 2px;
    text-align: center;
    width: 20px;
}

.fstBtn {
    border: 4px solid rgb(166, 231, 255);
}

.setup-panel:before {
    height: 4px;
    left: 11%;
    right: 15%;
    top: 11px;
    width: auto;
}

.setup-panel .btn[disabled] {
    background: #ccc;
    opacity: 1;
}

.setup-panel {
    color: #00a7e1;
}