<div class="container">
    <div class="row">

        <!--Menu inside the part><-->
        <div class="stepwizard">
            <div class="stepwizard-row setup-panel">
                <div class="stepwizard-step">
                    <a href="#step-1" type="button" class="btn btn-primary btn-circle fstBtn"></a>
                    <p>Company</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled"></a>
                    <p>Markets & Regions</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled"></a>
                    <p>Cross Border</p>
                </div>
            </div>
        </div>

        <!--SubMenu Part><-->
        <h4 class="headerText"> Application Setup</h4>
        <div class=" backgroundWhite">
            <span class="underlineSpan">
              <h4>Company <i class=" fa fa-question-circle text-pink " aria-hidden="true "></i></h4>
            </span>
            <div class="btnGroup">
                <button type=" button " class="btn btnBorder btnInfo">Create New Entity <i class="fa fa-plus-circle " aria-hidden="true "></i></button>
                <button type="button " class="btn btn-success btnBorder ">Save</button>
                <button type="button " class="btn btn-outline-primary btnBorder ">Cancel</button>
            </div>
            <table class=" table table-striped ">
                <thead>
                    <tr>
                        <th class="headerText">Entity Name</th>
                        <th class="headerText"> Type</th>
                        <th class="headerText">Model Used</th>
                        <th class="text-right headerText ">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-info ">
                        <td>
                            <input type="text " class="form-control " />
                        </td>
                        <td>
                            <select class="form-control ">
                              <option>Option 1</option>
                              <option>Option 2</option>
                              <option>Option 3</option>
                              <option>Option 4</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control ">
                              <option>Option 1</option>
                              <option>Option 2</option>
                              <option>Option 3</option>
                              <option>Option 4</option>
                          </select>
                        </td>
                        <td class="text-right ">
                            <a href="path/to/shopping/cart " class="btn btn-primary btn-sm " aria-label="View 3 items in your shopping cart ">
                                <i class="fa fa-pencil " aria-hidden="true "></i>
                            </a>
                            <i class="fa fa-times text-primary " aria-hidden="true "></i>
                        </td>
                    </tr>
                    <tr>
                        <td>My Company3</td>
                        <td>Parent</td>
                        <td>Stairstep Breakaway</td>
                        <td class="text-right ">
                            <span class="">
                              <i class="fa fa-pencil text-primary iconpadding " aria-hidden="true "></i>
                              <i class="fa fa-copy text-primary iconpadding " aria-hidden="true "></i>
                              <i class="fa fa-trash text-primary" aria-hidden="true "></i>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>My Company2</td>
                        <td>Parent</td>
                        <td>Stairstep Breakaway</td>
                        <td class="text-right ">
                            <span class=" ">
                              <i class="fa fa-pencil text-primary iconpadding " aria-hidden="true "></i>
                              <i class="fa fa-copy text-primary iconpadding " aria-hidden="true "></i>
                              <i class="fa fa-trash text-primary" aria-hidden="true "></i>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>My Company1</td>
                        <td>Parent</td>
                        <td>Stairstep Breakaway</td>
                        <td class="text-right ">
                            <span class=" ">
                              <i class="fa fa-pencil text-primary iconpadding " aria-hidden="true "></i>
                              <i class="fa fa-copy text-primary iconpadding " aria-hidden="true "></i>
                              <i class="fa fa-trash text-primary" aria-hidden="true "></i>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>